@font-face{
	font-family: "A";
	src: url(fonts/myriad.OTF)
}

body{
	background: url(bg.jpg);
	background-size: cover;
	background-color: black;
	margin:0;
	padding: 0;
	font-family: "A", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.piano{
	width: 56vh;
	display: flex;
}

.note{
	border-radius: 0.5vw;
}

.white{
	width: 8vh;
	height: 40vh;
	background: white;
	border: 1px solid grey;
}

.black{
	width: 6vh;
	height: 20vh;
	background: black;
	margin-right: -3vh;
	margin-left: -3vh;
	z-index: 1;
}

.pressed{
	background-color: #CCC;
}

#melodycontainer{
	width: 30vw;
	height: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#title{
	height: 10vh;
	width: 30vw;
	text-align: center;
	color: white;
	line-height: 10vh;
	font-size: 4vh;
}

#melody{
	width: 30vw;
	height: 20vh;
	color: white;
	text-align: center;
}

#clear, #download, #play{
	text-align: center;
	line-height: 3vh;
	width: 8vw;
	height: 3vh;
	background-color: white;
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
	margin-left: 0.5vh;
	margin-right: 0.5vh;
	border-radius: 0.5vh;
}

#clear, #download, #play:hover{
	cursor: pointer;
}

#extras{
	display: flex;
	font-size: 100vh/100vw;
}

#blackmask{
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}